{% extends 'base.html' %}
{% block main %}
<div top-container>
    <div class="proHeader-module--headerWrapper--NxwFu">
        <div class="
        container-module--container--IDKSF
        undefined
        false
        container-module--withResponsivePadding--eLkQK
        undefined
        ">
        <div class="proHeader-module--header--0Ipn-">
            <div class="proHeader-module--slogan--HOnOy" id="top">
                <div class="headerBackground-module--backgroundHexagon--JEqxP">
                </div>
                <div class="headerBackground-module--backgroundSmallNut--dRHeO">
                </div>
                <div class="headerBackground-module--backgroundTranslation--BBrrm">
                </div>
                <h1 class="proHeader-module--headline--bzL5c">
                    <strong>Humming Pro
                    </strong>で<br>シームレスかつ正確に文字起こし、翻訳
                </h1>
                <!-- <div class="index-form-button-wrapper d-flex"> -->
                    <div class="form-group w-100">
                      <input type="text" class="form-control top-input-form mt-5" id="formGroupExampleInput" placeholder="メールアドレス" name="url" required>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block mt-3">Waiting Listに登録する</button>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="links-container fadeIn">
        <div class="links-grid-layout">
            <div class="link-grid-item">
                <a href= "https://www.skyscanner.net/uk/ja-jp/gbp/flights"class="icon-link" id="icon-link" target="_blank" rel="noopener noreferrer">
                    <div class="property-icon">
                        <h2><img src={{ url_for('static',filename='img/Skynner.png') }} alt="Skycanner">
                        </h2>
                    </div>
                </a>
                    <div class="link-info">
                        <div class="link-title">
                            <h2>飛行機で行く</h2>
                        </div>
                        <div class="link-details">
                            <p>
                            </p>
                        </div>
                    </div>
            <div class="plan-gray-line" style="background-color:#dedede; width:2px;"></div>
            </div>

            <div class="link-grid-item">
                <a href= "https://www.bushikaku.net/"class="icon-link" id="icon-link" target="_blank" rel="noopener noreferrer">
                    <div class="property-icon">
                        <h2><img src={{ url_for('static',filename='img/bus-compare.png') }} alt="bus">
                        </h2>
                    </div>
                </a>
                    <div class="link-info">
                        <div class="link-title">
                            <h2>バスで行く</h2>
                        </div>
                        <div class="link-details">
                            <p>
                            </p>
                        </div>
                    </div>
            </div>

            <div class="link-grid-item">
                <a href= "https://www.eki-net.com/personal/top/index"class="icon-link" id="icon-link" target="_blank" rel="noopener noreferrer">
                    <div class="property-icon">
                        <h2><img src={{ url_for('static',filename='img/bullet-train.png') }} alt="bullet-train">
                        </h2>
                    </div>
                </a>
                    <div class="link-info">
                        <div class="link-title">
                            <h2>新幹線で行く</h2>
                        </div>
                        <div class="link-details">
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="top-grid-card-container">
        <div class="top-description-card-container">
            <div class="top-description-card-icon">
                <img src="../static/img/chip.png">
            </div>
            <div class="top-description-card-title">
                <h3>
                    GPUでの処理
                </h3>
            </div>
            <div class="top-description-card-text">
                <p>
                    Nvidia GPUを使用することで、より大規模モデルを利用できるようになりました。
                </p>
            </div>
        </div>

        <div class="top-description-card-container">
            <div class="top-description-card-icon">
                <img src="../static/img/complexity.png">
            </div>
            <div class="top-description-card-title">
                <h3>
                    高精度な書き起こし
                </h3>
            </div>
            <div class="top-description-card-text">
                <p>
                    GPUでの処理により、より高精度な書き起こしを行えます。
                </p>
            </div>
        </div>

        <div class="top-description-card-container">
            <div class="top-description-card-icon">
                <img src="../static/img/approved.png">
            </div>
            <div class="top-description-card-title">
                <h3>
                    大容量ファイルの処理
                </h3>
            </div>
            <div class="top-description-card-text">
                <p>
                    1時間以上の長時間の動画も、書き起こしができます。
                </p>
            </div>
        </div>

        <div class="top-description-card-container">
            <div class="top-description-card-icon">
                <img src="../static/img/rocket.png">
            </div>
            <div class="top-description-card-title">
                <h3>
                    処理の高速化
                </h3>
            </div>
            <div class="top-description-card-text">
                <p>
                    無料での書き起こしに比べ、平均3倍の速さで書き起こしを行えます。
                </p>
            </div>
        </div>

    </div>

    <div class="powered-by-container">
        <p>Powered by</p>
        <div class="top-powered-by">
            <div class="top-powered-by-left">
                <img src="../static/img/OpenAI_Logo.svg.png">
            </div>
            <div class="top-powered-by-right">
                <img src="../static/img/DeepL_logo.png">
            </div>
        </div>
    </div>

    
</div>
{% endblock %}
